
.section1-body{
  background-color:#f2f9ff ;
  height: 700px;
}
.section-container{
  padding: 90px;
}
.txt1{
  font-weight: bolder;
  font-size: 60px
}
.txt2{
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
}
.btn-container{
  flex-direction: row;
  margin-top: 15px;
}
.btn1{
  width: 200px;
  height: 54px;
  background-color: #0480fc;
  color:#ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  box-shadow: 0 0 10px 0 #a2d0ff;
  filter: drop-shadow(0 0 10px #A2D0FF);
}
.btn2{
  width: 200px;
  height: 54px;
  background-color: #ffffff;
  color:#0480fc;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  box-shadow: 2px 2px 2px 2px #ffffff;
  border: none!important;
    box-shadow: 0 0 24px 0 25% #9f9f9f;
    filter: drop-shadow(0 0 24px rgba(159,159,159,.25));
}
.btn1:hover{
  background-color: #0480fc!important;
  color:#ffffff;
}
.btn2:hover{
  background-color: #ffffff!important;
  color:#0480fc;
}
.iamge-section{
  flex-direction: row;
}
.image1{
  height: 80vh;
  object-fit: cover;
  width: 330px;
}
.image2{
  height: 39vh;
  object-fit: cover;
  width: 350px;
  margin-bottom: 5px;
}
.image3{
  height: 39vh;
  object-fit: cover;
  width: 350px;
  margin-top: 5px;
}
.section1-text-section{
  margin-top: 80px;
}


@media screen and (max-width: 700px) {
  .image1{
    height: 80vh;
    object-fit: cover;
    width: 300px;
  }
  .image2{
    height: 39vh;
    object-fit: cover;
    width: 350px;
    margin-bottom: 5px;
  }
  .image3{
    height: 39vh;
    object-fit: cover;
    width: 350px;
    margin-top: 5px;
  }
  .section1-text-section{
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .section1-body{
    background-color:#f2f9ff ;
    height: 500px;
  }
  .section-container{
    padding: 13px;
  }
  .txt1{
    font-weight: bolder;
    font-size: 30px
  }
  .txt2{
    font-size: 15px;
    font-weight: 500;
    opacity: 0.7;
  }
  
  .btn1{
    width: 150px;
    height: 54px;
    background-color: #0480fc;
    color:#ffffff;
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
    box-shadow: 0 0 10px 0 #a2d0ff;
    filter: drop-shadow(0 0 10px #A2D0FF);
  }
  .btn2{
    width: 150px;
    height: 54px;
    background-color: #ffffff;
    color:#0480fc;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
    box-shadow: 2px 2px 2px 2px #ffffff;
    border: none!important;
      box-shadow: 0 0 24px 0 25% #9f9f9f;
      filter: drop-shadow(0 0 24px rgba(159,159,159,.25));
  }
  .btn2:hover{
    background-color: #ffffff!important;
    color:#0480fc;
  }
  .section1-iamge-section{
    margin-top: 50px;
  }
  .image1{
    height: 50vh;
    object-fit: cover;
    width: 170px;
  }
  .image2{
    height: 24vh;
    object-fit: cover;
    width: 150px;
    margin-bottom: 5px;
  }
  .image3{
    height: 24vh;
    object-fit: cover;
    width: 150px;
    margin-top: 5px;
  }
  
}